.comments-container{
  overflow-x: hidden;
  height: 300px;
  width: 100%;
}
.user-name {
  font-weight: 900;
  color: #050505;
  cursor: pointer;
}
.onComment {
  padding: 4px 7px;
  background: #f0f2f5;
  border-radius: 10px;
}
.onComment > p {
  max-width: 420px;
  word-wrap: break-word;
  color: #050505;
  font-weight: 400;
}
.parent {
  padding-right: 10px;
}
.onComment > h6 {
  margin-bottom: 0;
}

.comment-button:hover {
  border-bottom: 2px solid #333331;
}
.comment-button {
  border: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  background: none;
  padding: 0 8px;
  font-size: 14px;
}
.respond-input {
  position: absolute;
  padding: 4px 10px;
  border-radius: 20px;
  background: #f0f2f5;
}
.respond-input > input {
  border: 0;
  width: 390px;
  outline: none;
  background: #f0f2f5;
}
.respond-container {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.reply-comment {
  background: #f0f2f5;
  width: auto;
  color: #050505;
  padding: 6px;
  border-radius: 10px;
}
span {
  max-width: 420px;
  word-wrap: break-word;
  display: inline-block;
}
.user--img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  left: -38px;
  bottom: 26px;
}

.user--img > img {
  width: 100%;
}
.comment--reply--div {
  position: relative;
}
.black-answers-content {
  margin-bottom: 36px;
}
