.content {
  border-bottom: 2px solid #eee;
  width: 400px;
  margin-left: 40px;
}

.content--div {
  margin: 8px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 0.9375rem;
}
.background img{
  background: #e4e6eb;
  width: 20px;
  height: 34px;
  border-radius: 50px;
}

.content--div:first-child img {
  width: 37px !important;
  height: 37px !important;
  border-radius: 50px;
}
