.my-main-page {
  width: 100%;
  padding: 56px 0 30px;
  background: #ebefe9;
}
.my-content {
  width: 950px;
  margin: -20px auto;
}
.my-cover-image {
  width: 950px;
  height: 260px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.my-cover-image > img {
  width: 100%;
}
.edit-cover-photo:hover {
  background: rgb(217, 210, 210);
}
.aa {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/6JhZSMMOly2.png);
  background-position: 0 -265px;
  background-size: 21px 452px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
.container-user {
  width: 880px;
  margin: 0 auto;
}
.container-user-image {
  width: 168px;
  height: 168px;
  border-radius: 100px;
  overflow: hidden;
}
.container-user-image > img {
  width: 100%;
}
.user-pictures {
  margin-right: -17px;
  width: 35px;
  height: 35px;
}
.user-pictures > img {
  width: 100%;
  border-radius: 50px;
}
.change-photo {
  width: 36px;
  height: 36px;
  background: #e4e6eb;
  border-radius: 50px;
  position: absolute;
  right: 8px;
  bottom: 10px;
}
.change-photo-icons {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/6JhZSMMOly2.png);
  background-position: 0px -42px;
  background-size: 21px 452px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icons-blok {
  position: relative;
}
.plus-png > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.plus-png {
  display: inline-block;
}
.container-icons > div {
  padding: 8px 14px;
  background: red;

  border-radius: 10px;
  margin: 4px;
}
.edit-profile > img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.blok-1 > ul > li {
  list-style: none;
}
.blok-1 a {
  border-radius: 10px;
  font-weight: 900;
  display: block;
  padding: 10px;
}
.blok-1 a {
  text-decoration: none;
  color: #65676b;
}
.wrapper-blok {
  border-top: 1px solid #282828;
}
li:hover {
  border-bottom: 3px solid blue;
}
li {
  border-bottom: 3px solid transparent;
}
a:hover {
  color: blue;
  background: rgb(224, 220, 220);
}
.aaaa {
  background: rgb(185, 180, 180);
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.aaaa:hover {
  background: rgb(112, 110, 110);
}
.sssss {
  background: #f0f2f5;
}
.my-container-is--a-leaf {
  width: 950px;
  margin: 0 auto;
  padding-top: 20px;
}
.my-container-box1 {
  width: 400px;
  background: #fff;
  border-radius: 7px;
}
.my-container-box2 {
  background: #fff;
  border-radius: 7px;
}
.edited-biography-bloc {
  width: 100%;
  border-radius: 7px;
  background: #e4e6eb;
}
.my-container-box1 > h3 {
  color: #050505;
  font-weight: 900;
  font-size: 23px;
}
.container-list-right {
}
.anything-new-bloc {
  border-bottom: 1px solid rgb(168, 158, 158);
}
.anything-new-bloc div img {
  width: 100%;
}
.item {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.item-input input {
  width: 460px;
  border: 0;
  background: #dcd7d7;
  border-radius: 30px;
  padding: 5px 10px;
}
.live-img {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/LT2b9_9nXPz.png);
  background-position: 0px -58px;
  background-size: 33px 575px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
.photo-and-video {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/LT2b9_9nXPz.png);
  background-position: 0px -258px;
  background-size: 33px 575px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
.bloc-item:hover {
  background: #cac0c0;
  border-radius: 7px;
  cursor: pointer;
}

.leaf-container {
  border-radius: 7px;
  background: #fff;
}